<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Management page</h1>
  <p>Here I can manage categories, skills, heros, abouts, contacts, and so on.</p>
  <p>I am a geek, I manage all the technologies by myself.</p>
  <p>
  <a class="btn btn-lg btn-primary" href="<%= root_url %>">Show hero! &raquo;</a>
  </p>
</div>
